.pageLoad{
  .page-header__logo{
    opacity: 1;
    margin-left: 0;
  }
  .page-header__nav{
    opacity: 1;
  }
  .screen__footer{
    bottom: 0;
  }
}
.intro,
.slider,
.prizes,
.rules,
.game{
  &__title, &__item-title, &__date{
    .span-leter {
      opacity: 0;
      transform: translate3d(0, 1em, 0);
      display: inline-block;
      will-change: transform;
    }
    .first-span {
      overflow: hidden;
      display: inline-block;
      transform: none;
    }
  }
}

.intro,
.slider,
.prizes,
.rules,
.game {
  &__title.active, &__item-title.active, &__date.active{
    .span-leter {
      opacity: 1;
      transform: translate3d(0, 6px, 0);
    }
  }
}
.animate-block{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: $c-dark;
  height: 0vh;
  transition: height ease 1s;
}

#prizes.active{
  background-color: transparent;
}
#prizes.active ~.animate-block{
  height: 100vh;
}

