.pageLoad{
  .page-header__logo{
    opacity: 1;
    margin-left: 0;
  }
  .page-header__nav{
    opacity: 1;
  }
  .screen__footer{
    bottom: 0;
  }
}
.intro__title,
.slider__item-title,
.prizes__title,
.rules__title,
.game__title{
  span {
    opacity: 0;
    transform: translate3d(0, 1em, 0);
    display: inline-block;
  }
}
.intro__title.active,
.slider__item-title.active,
.prizes__title.active,
.rules__title.active,
.game__title.active {
  span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate-block{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: $c-dark;
  height: 0vh;
  transition: height ease 1s;
}

#prizes.active{
  background-color: transparent;
}
#prizes.active ~.animate-block{
  height: 100vh;
}

