@keyframes fadeIn {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}//для текстовых блоков
@keyframes fadeInSpan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} // для заголовков
@keyframes sliderText {
  0% {
    opacity: 0;
    left: 40px
  }
  100% {
    opacity: 1;
    left: 0;
  }
} //для текстовых блоков слайдера
@keyframes widthInput {
  0% {
    width: 0;

  }
  100% {
    width: calc(100% - 21rem);

  }
}//для input в разделе "Игра"
@keyframes rulesItemFade {
  0%{
    color: transparent;
    transform: scale(0.3);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    color: white;
    transform: scale(1);
  }
}
@keyframes btnRuleLink {
  0% {
    width: 0;
    opacity: 1;
  }
  50%{
    color: $c-light;
  }
  100%{
    width: 100%;
    color: $c-dark;
    opacity: 1
  }

}
